:root{
    --bg:#B4C3CD;
    --light:#C7D5DF;
    --dark:#98ABB8;

    --color:#2779AA;
    --color-dark:#1c3849;
    --color-light:#e8eef1;

    --border:#AED0EA;
    --border-dark:#82A4BD;
    --border-light:#CEE3F4;

    --size:32px;
    --gap:5px;
    --radius:6px;
}

*{
    box-sizing: border-box;
}

input,button {
        
    user-select: auto;
    max-height:var(--size) !important;
    line-height:var(--size) !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

input[type='text']{
    font-size: 1rem !important;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding-left:var(--gap);
}


body{
    background-color: var(--bg);
    user-select: none;

    margin:var(--gap);
    padding:var(--gap);
    overflow:hidden;
}

.panel{
    display: flex;
    background-color: var(--light);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: var(--gap);
}
/*---------------------------------------------------*/
table{
    border: 1px solid var(--dark);
    box-sizing: border-box;
    border-collapse: collapse;
}
thead{
    background-color: var(--dark);
    height: var(--size);
    color:var(--color-dark)
}
table tbody tr{
    border-bottom: 1px solid var(--dark);
}
table tbody td{
    padding-left:var(--gap);
    padding-right:var(--gap);
}
/*---------------------------------------------------*/
