:root{
    --bg:#B4C3CD;
    --light:#C7D5DF;
    --dark:#98ABB8;

    --color:#2779AA;
    --color-dark:#21516E;
    --color-light:#e8eef1;

    --border:#AED0EA;
    --border-dark:#82A4BD;
    --border-light:#CEE3F4;

    --size:32px;
    --gap:5px;
    --radius:6px;
    --font-family: Tahoma, sans-serif;

}

*{
    box-sizing: border-box;
    font-family: var(--font-family) !important;
}

input,button {
        
    user-select: auto;
    max-height:var(--size) !important;
    line-height:var(--size) !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

}

input[type='text'],input[type='date']{
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding-left:var(--gap);

    font-size: 0.8rem !important;

}

.layout {
    padding-left: 0px;
    padding-right: 0px;
}
@media screen and (min-width: 900px) {
    .layout {     
        padding-left: 20%;
        padding-right: 20%;
     }
}

body{
    font-size: 12px;

    background-color: var(--bg);
    user-select: none;
    margin:var(--gap);
    padding:var(--gap);
    
    overflow:auto;
}


.panel{
    align-items: center;
}
.panel,.vert,.block{
    display: flex;
    background-color: var(--light);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: var(--gap);
    overflow: auto;
    min-height: var(--size);
}
.block{
    display:block;
}

.vert{
    flex-direction: column;
    align-items:flex-start;
}
label{
    margin-right:var(--gap) ;
    height: var(--size);
    line-height: var(--size);
    text-shadow: 0 0 1px black;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.group,fieldset{
    background-color: var(--light);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    
    /*padding: var(--gap);*/
}
.ui-tabs-nav{
    background-color: var(--light)!important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--border);
    border: 1px solid var(--border);
}
.ui-tabs-panel{
    border-radius: 0px;
    border: 1px solid var(--border) !important;
    border-top-width: 0px !important;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    overflow: auto;
}

/*---------------------------------------------------*/
.dataTables_wrapper{
    border: 1px solid var(--dark);
}
table{
    
    box-sizing: border-box;
    border-collapse: collapse !important;
}
.dataTables_scrollHead{
    background-color: var(--dark);
    color:var(--color-dark)
}
table tbody tr{
    border-bottom: 1px solid var(--dark) !important;
}
table tbody td{
    padding-left:var(--gap);
    padding-right:var(--gap);
}
/*---------------------------------------------------*/
